<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- Asegúrate de que iisnode ejecute tu archivo principal del backend -->
			<add name="iisnode" path="back/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
		</handlers>

		<rewrite>
			<!-- Esto asegura que las solicitudes a tu API se manejen correctamente -->
			<rules>
				<rule name="API">
					<match url="^api/(.*)" />
					<action type="Rewrite" url="https://plc-j41x.onrender.com/api/{R:1}" />
				</rule>
				<rule name="ReactApp">
					<!-- Si también tienes un frontend estático que quieres servir, asegúrate de tener una regla para redirigir -->
					<match url="^(?!api)(.*)$" />
					<action type="Rewrite" url="https://plc-j41x.onrender.com/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
