html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.row, .col {
    margin: 0;
    width: 100%;
    padding:0%;
}

.Container {
    height: 100vh;
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
}

.ContenedorPrincipalInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ContenedorPrincipalInicio, .ContenedorPrincipalloginregistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
}

.ContenedorPrincipalInicio {
    background-color:white; /* Degradado que "toca" el lado derecho */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 50vw; /* Ocupa exactamente la mitad de la pantalla */
    position: relative; /* Para ajustar el desbordamiento visual del degradado */

}

.ContenedorAuxiliarInicio {
    background: linear-gradient(135deg, #003366, #333333);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -2px 0 10px rgba(100, 50, 250, 1);
    height: 100vh; /* Altura completa de la ventana para centrar verticalmente */
    width: 100%;
    display: flex;
    flex-direction: column; /* Para que el logo est� arriba y la informaci�n debajo */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 50px;
}


.ContenedorPrincipalloginregistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Color de fondo */
}

.welcome-container {
    margin-bottom: 2rem;
}

.welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff; /* Color llamativo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para mayor �nfasis */
}

.LR-button {
    width: 10rem;
}

.register-button {
    background-color: #28a745; /* Color verde para el bot�n de registro */
    border-color: #28a745;
}

    .register-button:hover {
        background-color: #218838; /* Color verde m�s oscuro al pasar el rat�n */
        border-color: #1e7e34;
    }


/* Estilo para la secci�n de la escuela */
.SeccionPrincipal {
    text-align: center;
    max-width: 80%;
}

.LogoPrepa {
    width: 220px;
    height: auto;
    margin-bottom: 20px;
}

.SeccionPrincipal figcaption {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.InformacionInicio label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #d4d4d4;
}

/* Formularios y botones */
form {
    width: 100%;
}

.Titulo {
    color: white;
}

input, .LR-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: all 0.3s ease;
}

    input:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
    }

.LR-button {
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

    .LR-button:hover {
        background-color: #0056b3;
    }
